*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}

p {
  font-size: 20px;
}

img {
  margin-bottom: 50px;
}

section {
  position: relative;
  text-align: center;
  padding: 8%;
}

header {
  position: absolute;
  top: 5%;
  left: 5%;
}

footer {
  background-color: black;
  padding: 2%;
  text-align: center;
  color: white;
  font-size: 12px;
}

.slide-odd {
  background-color: gray;
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size: cover;
  z-index: 1;
  height: 700px;
}

.slide-even {
  z-index: 2;
  background-color: white;
  text-align: center;
  //   -moz-box-shadow:    0px 5px 10px 6px #888;
  // -webkit-box-shadow: 0px 5px 10px 6px #888;
  // box-shadow:         0px 5px 10px 6px #888;
  // height: 500px;
}

.text {
  max-width: 1280px;
  margin: 0 auto;
}

#slide-1 h2 {
  margin-top: 200px;
}

